<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RK | SKRIPT.GG &reg;</title>

    <meta name="description" content="Site de redirecionamento aos discords de vendas Skript.gg (GTAV). Adquira já o melhor do mercado.">
   	<meta name="author" content="@ryanfig_">

    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="shortcut icon" href="./assets/svg/logo.svg">
    <link rel="preconnect" href="https://fonts.googleapis.com">
</head>
<body>
    
    <div id="payPix">
        <p>PAGUE VIA PIX E RECEBA <span class="mainSpan">IMEDIATAMENTE</span>🔥 <a href="./buy" target="_blank" rel="noopener noreferrer"><button class="buySup">COMPRE AQUI <img class="coin" src="./assets/svg/coin.svg" alt=""></button></a></p>
        
    </div>
    <header>
        <img class="LogoIcon" src="./assets/svg/whiteLogo.svg" alt="">
        <a href="https://discord.gg/ya6n8vrfcK"><li>Suporte</li></a>         
        <a href="./index.html"></a><li>Planos</li></a>  
        <a href="./index.html"></a><li>Questões Comuns</li></a>  
        <a href="./html/en.html"><img class="languageIcon" src="./assets/svg/eua.svg" alt="Site traduzido para o idioma Inglês"></a>
    </header>

    <iframe class="video-background" height="480" src="https://www.youtube.com/embed/lY_jacnqsBA" autoplay frameborder="0"></iframe>

    <main>
        <div class="mainText">
            <hr class="line">
            <h1>SEJA O <span class="mainH1">MELHOR</span> DO PVP!</h1>
            <p>SKRIPT.GG ÚNICO CHEAT INDETECTÁVEL DO MERCADO.</p>
                <button class="buttonBuy"><a href="./buy" target="_blank">COMPRE AQUI</a><img height="22px" src="./assets/svg/coin.svg" alt=""></button>
                <button class="buttonDc"><a href="https://discord.gg/ya6n8vrfcK" target="_blank" rel="noopener noreferrer">DISCORD</a><img height="18px" src="./assets/svg/discord.svg" alt=""></button>

            <p class="resources">RECURSOS</p>
            <hr class="line">
            <!-- TRADUZIR PARA PT-BR -->
            <div class="resourcesTable">
                <li>
                    <ul><span class="resourcesSpan">AIM ASSIST</span></ul>
                    <ul>• Enable</ul>
                    <ul>• Smoothing</ul>
                    <ul>• Field Of View</ul>
                    <ul>• On Key</ul>
                </li>
                <li>
                    <ul><span class="resourcesSpan">WEAPONS</span></ul>
                    <ul>• Infinite Ammo</ul>
                    <ul>• No Spread</ul>
                    <ul>• No Recoil</ul>
                    <ul>• Infinite Damage</ul>
                    <ul>• Explosive Ammo</ul>
                    <ul>• Spawn Weapons</ul>
                </li>
                <li>
                    <ul><span class="resourcesSpan">VISUALS</span></ul>
                    <ul>• 2D Box</ul>
                    <ul>• Skeleton</ul>
                    <ul>• Distance</ul>
                    <ul>• Name</ul>
                    <ul>• Weapon</ul>
                    <ul>• Health</ul>
                    <ul>• Color Picker</ul>
                    <ul>• Loot Items</ul>
                </li> 
                <li>
                    <ul><span class="resourcesSpan">VEHICLE</span></ul>
                    <ul>• True Godmode</ul>
                    <ul>• Demi Godmode</ul>
                    <ul>• Force Engine</ul>
                    <ul>• Warp Into Vehicle</ul>
                    <ul>• Repair Vehicle</ul>
                    <ul>• Engine Boost</ul>
                    <ul>• Rocket Boost</ul>
                    <ul>• Parachute</ul>
                    <ul>• Jumping</ul>
                    <ul>• Ramming</ul>
                </li>
                <li>
                    <ul><span class="resourcesSpan">PLAYER</span></ul>
                    <ul>• True Godmode</ul>
                    <ul>• Demi Godmode</ul>
                    <ul>• Regenerate Armor</ul>
                    <ul>• Force Wanted Level</ul>
                    <ul>• Change Swim Speed</ul>
                    <ul>• Noclip</ul>
                    <ul>• Noclip Key</ul>
                    <ul>• Teleportation</ul>
                </li>
                <li>
                    <ul><span class="resourcesSpan">MISC GTA:O</span></ul>
                    <ul>• Off-Radar</ul>
                    <ul>• Never Wanted</ul>
                    <ul>• No Oppressors In Lobby</ul>
                    <ul>• Protection From Cheaters</ul>

                    <br>
                    <ul><span class="resourcesSpan">MISC</span></ul>
                    <ul>• Crosshair</ul>
                    <ul>• Crosshair Color</ul>
                    <ul>• Menu Color</ul>
                    <ul>• Menu key</ul>
                    <ul>• Point Of Interest Finder</ul>
                    <br>
                    <ul><span class="resourcesSpan">OTHER</span></ul>
                    <ul>• Too many to list...</ul>

                </li>
            </div>
            <hr class="resourcesLine">
        </div>

        <div class="gif">
            <div><img class="one" src="./assets/images/MenuGif.gif" alt=""></div>
            <div><img class="mid" src="./assets/images/logo.gif" alt=""></div>
            <div><img class="end" src="./assets/images/logo.gif" alt=""></div>
        </div>

        <hr class="line">
    </main>
    
    <div id="mainPlan">
        <div class="plan"><h2>PLANOS</h2></div>
        <p>Adquira automaticamente e receba assim que o pagamento for confirmado!</p>
    </div>

    <section id="plans">
        <div class="month">
            <h3>Mensal</h3>
            <h4>R$<span class="plansSpan">110</span></h4>
            <p>Acesso de 31 dias</p>
            <hr class="monthLine"><br>
            <p>Acesso completo aos recursos</p>
            <hr class="monthLine"><br>
            <a href="./tos">Termos de Serviço</a>
            
            <br><br><button class="buttonPlans"><a href="./buy" target="_blank">COMPRE AQUI</a></button><br>
            <form>
        </div>

        <div class="week">
            <h3>Semanal</h3>
            <h4>R$<span class="plansSpan">55</span></h4>
            <p>Acesso de 7 dias</p>
            <hr class="monthLine"><br>
            <p>Acesso completo aos recursos</p>
            <hr class="monthLine"><br>
            <a href="./tos">Termos de Serviço</a>
            
            <br><br>
            
            <!-- FAZER OPCOES - MENSAL E SEMANAL. INDO PARA PAGINA /buy COM O PLANO CLICADO SELECIONADO -->
            <button class="buttonPlans"><a href="./buy" target="_blank">COMPRE AQUI</a></button>
            
            <br>
        </div>
    </section>
       


    <section class="box">
        <div class="boxQuestions"><h2>PERGUNTAS FREQUENTES</h2>
            <p>EM CASO DE QUALQUER DÚVIDA, ENTRE EM CONTATO!</p></div>

            <div class="boxQuestions"><h5>Corro risco de ser banido usando skript.gg?</h5>
                <p>Quando se trata de modificações em jogos online,
                    não existe nada que seja 100% seguro. Prezamos
                    pela qualidade e a segurança dos nossos usuários,
                    fazemos o possível para manter o software seguro
                    e sempre atualizado. Tenha em mente que imprevistos
                    como bugs e banimentos podem ocorrer a qualquer
                    momento. Estamos no mercado desde 2021 e nunca
                    fomos detectados.
                </p></div>

                <div class="boxQuestions"><h5>Como sei que vou receber o produto?</h5>
                    <p>Prezamos pela segurança, privacidade de nossos clientes e
                        qualidade do nossos produtos. Com responsabilidade na
                        entrega dos nossos produtos. Temos comunidades com
                        números expressivos e diversos clientes consolidados.
                        A entrega do nosso produto é feita automaticamente
                        após a confirmação do pagamento. Tudo online rápido e prático.
                    </p></div>

                    <div class="boxQuestions"><h5>Funciona em todos os servidores de FiveM?</h5>
                        <p>Sim! Nosso software funciona em todos os servidores do FiveM</p>
                    </div>

                    <div class="boxQuestions"><h5>Funciona em todos os servidores de FiveM?</h5>
                        <p>Sim! Nosso software funciona em todos os servidores do FiveM</p>
                    </div>

                    <div class="boxQuestions"><h5>Quais são as formas de pagamentos?</h5>
                        <p>•PIX ( Entrega Imediata) <br>
                            •Bitcoin ( Entrega em até 24h - Procure suporte para adquirir )</p>
                    </div>

                    <div class="boxQuestions"><h5>Como entro em contato?</h5>
                        <p>Clique aqui para entrar em contato via
                            <a href="https://discord.gg/ya6n8vrfcK"
                            target="_blank">Discord</a> ou
                            <a href="https://wa.me/5521997624873?text=Adorei%20seu%20artigo"
                            target="_blank">WhatsApp</a>.</p>
                    </div>

                    <div class="boxQuestions"><h5>Sou de Portugal, posso comprar?</h5>
                        <p>Sim, residentes que moram fora do brasil podem adquirir através
                            do nosso outro site <a href="./pageBuy.html">clicando aqui</a>.</p>
                    </div>

                    <div class="boxQuestions"><h5>O Skript.gg possui Stream Mode?</h5>
                        <p>Sim, no momento nosso software interno está oculto em transmissões ao vivo ou gravações usando apenas OBS Studio/Streamlabs.</p>
                    </div>

                    <div class="boxQuestions"><h5>Posso testar o MOD antes de comprar?</h5>
                        <p>Não, não temos nenhum teste gratuito, para testar você pode adquirir a licença mensal ou semanal.</p>
                    </div>

                    <div class="boxQuestions"><h5>Dúvidas gerais</h5>
                        <p>Não recomendamos o uso de ISO’s personalizadas divergentes da original fornecida pela Microsoft.
                            <br><br>
                            <b>Reembolsos</b><br>
                            Somente em casos no qual os desenvolvedores oferecem o reembolso. O qual acontece por não funcionamento na maquina do usuário.
                            <br><br>
                            <b>Compartilhamento</b> <br>
                            Compartilhar sua chave não é permitido, sua chave é de uso único. Se você alterar o HWID, a chave poderá ser suspensa automaticamente.
                            <br>
                            Adquirindo nossos produtos você está concordando com os termos de serviços do Skript.gg e nossos termos e condições de vendas.</p>
                    </div>
    </section>

    
    <footer>
        <div class="footer">
            <ul>
                <li class="textFooter"><a href="#">Rk Seller</a></li>
            </ul>
    
            <ul>
                <li class="textFooter"><a href="#">Home</a></li>
                <li class="textFooter" ><a href="#">Skript.GG</a></li>
                <li class="textFooter"><a href="#">Suporte</a></li>
            </ul>
    
            <ul >
                <li class="textFooter"><a href="./tos">Termos de Serviço</a></li>
                <li class="textFooter"><a href="#">Perguntas Frequentes</a></li>
            </ul>
    
            <ul>
                <li class="textFooter"><a href="mailto:contato@rkseller.com.br?">contato@rkseller.com.br</a> </li>
                <li class="textFooter"><a href="https://wa.me/5521997624873?text=Adorei%20seu%20artigo"
                    target="_blank">+55 (21) 99762-4873</a></li>
            </ul>

            
        </div>

        <div class="media">
            <a href=""><img class="iconMedia" src="./assets/svg/socialEmail.svg" alt="" srcset=""></a>
            <a href=""><img class="iconMedia" src="./assets/svg/socialWhatsApp.svg" alt="" srcset=""></a>
            <a href=""><img class="iconMedia" src="./assets/svg/socialYt.svg" alt="" srcset=""></a>
            <a href=""><img class="iconMedia" src="./assets/svg/socialGit.svg" alt="" srcset=""></a>
            <a href=""><img class="iconMedia" src="./assets/svg/socialTikTok.svg" alt="" srcset=""></a>
            <a href=""><img class="iconMedia" src="./assets/svg/socialDiscord.svg" alt="" srcset=""></a>

        </div>

    </footer>
    <script src="../public/assets/js/script.js"></script>
</body>
</html>