<!DOCTYPE html>
<html lang="pt-br">

<head>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RK | SKRIPT.GG &reg;</title>

    <meta name="description"
        content="Site de redirecionamento aos discords de vendas Skript.gg (GTAV). Adquira já o melhor do mercado.">
    <meta name="author" content="@ryanfig_">

    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="shortcut icon" href="./assets/svg/logo.svg">
    <link rel="preconnect" href="https://fonts.googleapis.com">
</head>

<body>
    <div class="terms">
        <h1>Termos de Serviço e Política de Privacidade empresa SKRIPT.GG </h1>
        <p>
            Termos e Condições<br><br>
            1. PARTES
            <br>1.1. Estes termos e condições (doravante – Termos) estabelecem os termos e condições pelos quais nós –
            Skript.gg (doravante – Provedor de Serviços ou Skript.gg) oferecemos o uso de nossos serviços.
            <br>1.2. O Provedor de Serviços fornece serviços de software de aprimoramento de videogame (doravante -
            Serviços).
            <br>1.3. Para criar uma conta e usar nossos serviços você deve:
            <br>1.3.1. seja um adulto.
            <br>1.4. Estes Termos regulam os direitos do cliente e do Prestador de Serviços, obrigações mútuas entre
            eles, prestação de Serviços, preço dos Serviços, procedimentos de pagamento, responsabilidade das Partes e
            outros termos relacionados.
            <br><br>
            2. INFORMAÇÕES SOBRE O PRESTADOR DE SERVIÇOS
            <br>2.1. O provedor de serviços é MB Rb online, código da empresa 306062894, endereço J. Savickio g. 4-7,
            LT-01108 Vilnius, endereço de e-mail contact@skript.gg
            <br><br>
            3. TERMOS E CONDIÇÕES GERAIS
            <br>3.1. Após a aceitação destes Termos (depois de se familiarizar com os Termos e marcar a caixa “Aceito os
            T.O.S e a Política de Privacidade”), estes Termos tornam-se um documento legal vinculativo que estabelece
            obrigações e direitos mútuos do cliente e do Prestador de Serviços (doravante - Partes ).
            <br>3.2. O Prestador de Serviços tem o direito de alterar, emendar ou complementar estes Termos a qualquer
            momento, considerando os requisitos estabelecidos por atos legais, o escopo dos serviços prestados e outras
            circunstâncias. Reservamo-nos o direito de alterar estes Termos de Serviços a qualquer momento, sem
            notificação ou de outra forma. É sua responsabilidade estar ciente de quaisquer alterações.
            <br>3.3. Ao aceitar estes Termos, o Cliente confirma que atende aos requisitos estabelecidos no parágrafo
            1.3 destes Termos.
            <br>3.4. Antes de usar os Serviços, o cliente deve verificar se as empresas de jogos permitem o uso de
            serviços semelhantes durante o jogo ou não e usar os Serviços somente quando o uso de tais serviços for
            permitido. O cliente assume toda a responsabilidade pelas consequências negativas do uso dos Serviços, como
            suspensão ou encerramento de suas contas, contas banidas ou endereços IP, multas, etc. Os clientes são
            livres para escolher se desejam usar os Serviços ou não enquanto jogam videogames.
            <br>3.5. O cliente não usa máquinas virtuais/em nuvem para usar o Serviço. Não fazer isso levará ao
            cancelamento do Serviço.
            <br>3.6. O Cliente não faz engenharia reversa do Serviço e não lança programas destinados a tais tarefas.
            Não fazer isso levará ao cancelamento do Serviço.
            <br><br>
            4. SERVIÇOS
            <br>4.1. Conforme disposto no parágrafo 1.2 destes Termos, o Provedor de Serviços fornece serviços de
            software de aprimoramento de videogame.
            <br>4.2. Os Serviços são fornecidos ao cliente somente após a criação de uma conta e o pagamento do preço da
            assinatura pelo período selecionado de Serviços.
            <br>4.3. O cliente pode escolher entre dois planos de assinatura do Serviço – planos semanais e mensais. O
            Provedor de Serviços tem o direito de criar novos planos de assinatura sem atualizar estes Termos. O
            Provedor de Serviços deve indicar claramente como o novo plano de assinatura difere dos outros planos e
            especificar o preço desse(s) plano(s) de assinatura.
            <br>4.4. Após o término do período selecionado de Serviços, o cliente não poderá mais usar os Serviços. Se o
            Cliente desejar continuar usando os Serviços, ele deverá adquirir um novo plano de assinatura.
            <br>4.5. Os serviços são criados para uso com videogames específicos, especificados em suas páginas de
            descrição, e não funcionarão (ou não funcionarão corretamente) com outros videogames. As descrições dos
            Serviços são armazenadas na seção “Produtos”.
            <br><br>
            5. PAGAMENTO POR SERVIÇOS
            <br>5.1. O Cliente paga ao Provedor de Serviços um preço que depende do plano de assinatura selecionado e do
            videogame escolhido. O preço de cada plano e cada videogame é exibido antes de fazer uma compra.
            <br>5.2. O provedor de serviços tem o direito de alterar preços e aplicar descontos. Preços alterados e
            descontos aplicáveis ​​apenas a compras efetuadas após alteração de preço ou desconto aplicado.
            <br><br>
            6. DIREITOS E OBRIGAÇÕES DO CLIENTE
            <br>6.1. O Cliente tem os direitos relativos à proteção dos seus dados pessoais, previstos no RGPD. Para
            exercer os seus direitos no domínio da proteção de dados, o cliente deverá contactar o Prestador de Serviços
            através do e-mail contact@skript.gg. Observe que esses direitos podem estar sujeitos a condições e exceções
            previstas no GDPR ou em outras leis.
            <br>6.2. Ao aceitar estes Termos, o cliente concorda e reconhece que não terá o direito de se retirar destes
            Termos. Estes termos também são considerados como contrato de serviço digital feito entre o Provedor de
            Serviços e o cliente.
            <br>6.3. Ao usar nosso site e Serviços, o cliente se compromete a cumprir estes Termos, outros termos
            especificados neste site e as leis aplicáveis.
            <br>6.4. O Cliente compromete-se a familiarizar-se plenamente com os requisitos necessários à utilização do
            Serviço.
            <br>6.5. O Cliente compromete-se a não divulgar os seus detalhes de login ou outras informações que permitam
            a terceiros utilizar os Serviços em nome do cliente. Se o cliente perder seus detalhes de login ou os
            divulgar a terceiros, ele deve informar imediatamente o Provedor de Serviços sobre isso ou corre o risco de
            perder os direitos de uso do Serviço.
            <br>6.6. O Cliente compromete-se a não ter más intenções para a segurança do Serviço. Isso é determinado por
            muitos fatores e, se houver suspeita, o Serviço será encerrado. Detalhes da suspensão NÃO SERÃO REVELADOS
            para manter a segurança do nosso sistema. Se esta for a primeira infração e não grave (que será determinada
            caso a caso), sua compra poderá ser reembolsada, se comprada por meio de um revendedor, aplica-se a política
            de reembolso. Quaisquer tentativas subsequentes de contornar esta decisão resultarão na rescisão automática
            sem reembolso.
            <br>6.7. Outras leis aplicáveis ​​podem fornecer outros direitos e obrigações ao cliente, que não estão
            previstos nestes Termos.
            <br><br>
            7. DIREITOS E OBRIGAÇÕES DO PRESTADOR DE SERVIÇOS
            <br>7.1. O Provedor de Serviços tem o direito de suspender ou encerrar quaisquer funções disponíveis dos
            Serviços, adicionar novas funcionalidades ou melhorar os serviços.
            <br>7.2. O provedor de serviços tem o direito de alterar o escopo dos Serviços, além de monetizar recursos
            separados dos Serviços, desabilitar recursos separados dos Serviços.
            <br>7.3. O Provedor de Serviços tem o direito de encerrar os serviços sem explicação para proteger nossos
            interesses e os de outros usuários.
            <br>7.4. O Provedor de Serviços tem o direito de emitir reembolsos a seu próprio critério. O Serviço é
            oferecido 'como está' no momento da venda.
            <br>7.5. O Prestador de Serviços se compromete a garantir o nível adequado de segurança dos dados pessoais
            dos clientes e a processar os dados pessoais do cliente de acordo com a Política de Privacidade para
            clientes. Observe que o provedor de serviços tem o direito de alterar a política de privacidade dos clientes
            a qualquer momento. É sua responsabilidade estar ciente de quaisquer alterações.
            <br>7.6. Outras leis aplicáveis ​​podem fornecer outros direitos e obrigações ao Provedor de Serviços, que
            não estão previstos nestes Termos.
            <br><br>
            8. RESPONSABILIDADE
            <br>8.1. O Cliente assume toda a responsabilidade por quaisquer consequências negativas do uso dos Serviços,
            como suspensão ou encerramento de suas contas, contas banidas (incluindo endereços IP banidos ou outros
            identificadores), multas, etc. O Provedor de Serviços não assume qualquer responsabilidade pela forma como
            os clientes usam Serviços.
            <br>8.2. O Cliente é responsável por suas ações ao usar o Site e os Serviços. O Cliente assume a
            responsabilidade pelas consequências decorrentes dos dados inexatos fornecidos, bem como pela implementação
            ou não implementação das recomendações fornecidas pelo Prestador de Serviços.
            <br>8.3. O Cliente é responsável por não divulgar seus dados de login a terceiros e pela segurança de tais
            informações. Se terceiros se conectarem ao Site ou usarem os Serviços usando os detalhes de login do
            cliente, o Provedor de Serviços considera essa pessoa como o cliente e o cliente é responsável por todas as
            ações realizadas por esse terceiro.
            <br>8.5. O cliente é responsável por comprar assinaturas deste site ou fornecedores afiliados. A compra de
            fornecedores ilegais, especialmente quando as assinaturas são compradas por meios fraudulentos, levará ao
            encerramento do Serviço PERMANENTEMENTE em todas as contas atuais e novas.
            <br>8.6. O Provedor de Serviços, desde que não contrarie nenhuma lei, está isento de qualquer
            responsabilidade quando o cliente sofrer qualquer perda devido à falha na leitura destes Termos, Política de
            Privacidade ou outros documentos, fornecidos no site Skript.gg.
            <br><br>
            9. AVISOS
            <br>9.1. O Cliente deverá enviar todos os avisos e perguntas ao Provedor de Serviços por e-mail especificado
            nestes Termos. Perguntas de propósito geral devem ser feitas através do nosso sistema de tickets.
            <br>9.2. Todos os avisos enviados por e-mail são considerados entregues por escrito.
            <br><br>
            <br>10. PROTEÇÃO DE DIREITOS AUTORAIS
            <br>10.1 Nosso site e software estão em total conformidade com 17 U.S.C. § 512 e a Lei de Direitos Autorais
            do Milênio Digital (“DMCA”). Está dentro de nossa política e direitos responder adequadamente a quaisquer
            avisos de infração, bem como tomar todas e quaisquer ações apropriadas de acordo com a Lei de Direitos
            Autorais do Milênio Digital (“DMCA”) e quaisquer outras leis de propriedade aplicáveis.
            <br><br>
            11. POLÍTICA DE REEMBOLSO
            <br>11.1 O cliente entende que o provedor de serviços não oferece reembolso por serviços digitais vendidos
            no site Skript.gg, INDEPENDENTEMENTE dos motivos fornecidos pelo cliente. Se quaisquer reembolsos forem
            concedidos - eles serão feitos como um gesto de boa vontade do provedor de serviços. Se o cliente comprou
            por meio de um fornecedor verificado, ele pode entrar em contato com o fornecedor e solicitar um reembolso,
            se oferecer um.
            <br><br>
            12. DISPOSIÇÕES FINAIS
            <br>12.1. Estes Termos são concluídos de acordo com a lei da Lituânia.
            <br>12.2. A lei da Lituânia aplica-se a todas as relações jurídicas decorrentes destes Termos.
            <br><br>
            Política de Privacidade
            Esta política de privacidade para skript.gg ("Empresa", "nós", "nós" ou "nosso") descreve como e por que
            podemos coletar, armazenar, usar e/ou compartilhar ("processar") suas informações quando você usa nossos
            serviços ("Serviços"), como quando você: Visita nosso site em skript.gg ou usa nosso software Interage
            conosco de outras maneiras relacionadas, incluindo vendas, marketing ou eventos Dúvidas ou preocupações? A
            leitura deste aviso de privacidade ajudará você a entender seus direitos e escolhas de privacidade. Se você
            não concorda com nossas políticas e práticas, não use nossos Serviços. Se você ainda tiver alguma dúvida ou
            preocupação, entre em contato conosco em contact@skript.gg.
            <br><br>
            <br>1. QUE INFORMAÇÕES COLETAMOS?
            Ao usar nosso software - informações do sistema de arquivos, endereço IP, especificação de hardware do seu
            PC, vários processos em execução e informações dentro deles. Coletamos esses dados para fornecer o Serviço e
            para manter o Serviço seguro para os usuários.
            Informações pessoais que você nos divulga
            Resumindo: coletamos informações pessoais que você nos fornece.
            Coletamos informações pessoais que você nos fornece voluntariamente quando se registra nos Serviços,
            expressa interesse em obter informações sobre nós ou nossos produtos e Serviços, quando participa de
            atividades nos Serviços ou quando entra em contato conosco.
            Informações pessoais fornecidas por você. As informações pessoais que coletamos dependem do contexto de suas
            interações conosco e com os Serviços, das escolhas que você faz e dos produtos e recursos que usa. As
            informações pessoais que coletamos podem incluir o seguinte:
            endereço de e-mail
            senhas
            nomes de usuário
            Informação sensível. Não processamos informações confidenciais.
            Dados de Pagamento. Podemos coletar os dados necessários para processar seu pagamento se você fizer compras,
            como o número do seu instrumento de pagamento (como um número de cartão de crédito) e o código de segurança
            associado ao seu instrumento de pagamento. Todos os dados de pagamento são armazenados pelo Stripe. Você
            pode encontrar o(s) link(s) de aviso de privacidade aqui: https://stripe.com/privacy.
            Todas as informações pessoais que você nos fornecer devem ser verdadeiras, completas e precisas, e você deve
            nos notificar sobre quaisquer alterações nessas informações pessoais.
            Informações coletadas automaticamente
            Resumindo: algumas informações — como seu endereço de protocolo de Internet (IP) e/ou navegador e
            características do dispositivo — são coletadas automaticamente quando você visita nossos Serviços.
            Coletamos automaticamente determinadas informações quando você visita, usa ou navega pelos Serviços. Essas
            informações não revelam sua identidade específica (como seu nome ou informações de contato), mas podem
            incluir informações de dispositivo e uso, como endereço IP, navegador e características do dispositivo,
            sistema operacional, preferências de idioma, URLs de referência, nome do dispositivo, país, localização ,
            informações sobre como e quando você usa nossos Serviços e outras informações técnicas. Essas informações
            são necessárias principalmente para manter a segurança e a operação de nossos Serviços e para fins de
            análise e geração de relatórios internos.
            As informações que coletamos incluem:
            Dados de registro e uso. Os dados de log e uso são informações relacionadas ao serviço, diagnóstico, uso e
            desempenho que nossos servidores coletam automaticamente quando você acessa ou usa nossos Serviços e que
            registramos em arquivos de log. Dependendo de como você interage conosco, esses dados de registro podem
            incluir seu endereço IP, informações do dispositivo, tipo de navegador e configurações e informações sobre
            sua atividade nos Serviços (como carimbos de data/hora associados ao seu uso, páginas e arquivos
            visualizados , pesquisas e outras ações que você executa, como quais recursos você usa), informações de
            eventos do dispositivo (como atividade do sistema, relatórios de erros (às vezes chamados de "despejos de
            memória") e configurações de hardware).
            Dados do dispositivo. Coletamos dados do dispositivo, como informações sobre seu computador, telefone,
            tablet ou outro dispositivo que você usa para acessar os Serviços. Dependendo do dispositivo usado, esses
            dados do dispositivo podem incluir informações como seu endereço IP (ou servidor proxy), números de
            identificação do dispositivo e do aplicativo, localização, tipo de navegador, modelo de hardware, provedor
            de serviços de Internet e/ou operadora de celular, sistema operacional e informações de configuração do
            sistema.
            Dados de localização. Coletamos dados de localização, como informações sobre a localização do seu
            dispositivo, que podem ser precisas ou imprecisas. A quantidade de informações que coletamos depende do tipo
            e das configurações do dispositivo que você usa para acessar os Serviços. Por exemplo, podemos usar GPS e
            outras tecnologias para coletar dados de geolocalização que nos informam sua localização atual (com base em
            seu endereço IP). Você pode optar por não permitir que coletemos essas informações recusando o acesso às
            informações ou desativando sua configuração de localização em seu dispositivo. No entanto, se você optar por
            não participar, talvez não consiga usar determinados aspectos dos Serviços.
            <br><br>
            <br>2. COMO PROCESSAMOS SUAS INFORMAÇÕES?
            Resumindo: processamos suas informações para fornecer, melhorar e administrar nossos Serviços, nos comunicar
            com você, para segurança e prevenção de fraudes e para cumprir a lei. Também podemos processar suas
            informações para outros fins com o seu consentimento.
            Processamos suas informações pessoais por vários motivos, dependendo de como você interage com nossos
            Serviços, incluindo:
            Para facilitar a criação e autenticação de contas e gerenciar contas de usuários. Podemos processar suas
            informações para que você possa criar e fazer login em sua conta, bem como manter sua conta em
            funcionamento.
            Para fornecer publicidade direcionada a você. Podemos processar suas informações para desenvolver e exibir
            conteúdo e publicidade personalizados de acordo com seus interesses, localização e muito mais.
            Para proteger nossos Serviços. Podemos processar suas informações como parte de nossos esforços para manter
            nossos Serviços seguros e protegidos, incluindo monitoramento e prevenção de fraudes.
            Para determinar a eficácia de nossas campanhas promocionais e de marketing. Podemos processar suas
            informações para entender melhor como fornecer campanhas promocionais e de marketing mais relevantes para
            você.
            Para salvar ou proteger o interesse vital de um indivíduo. Podemos processar suas informações quando
            necessário para salvar ou proteger o interesse vital de um indivíduo, como para evitar danos.
            <br><br>
            <br>3. EM QUAIS BASES LEGAIS CONSULTAMOS PARA PROCESSAR SUAS INFORMAÇÕES?
            Resumindo: processamos suas informações pessoais apenas quando acreditamos que é necessário e temos um
            motivo legal válido (ou seja, base legal) para fazê-lo de acordo com a lei aplicável, como com o seu
            consentimento, para cumprir as leis, para fornecer serviços a você para entrar ou cumprir nossas obrigações
            contratuais, para proteger seus direitos ou para cumprir nossos interesses comerciais legítimos.
            Se você estiver localizado na UE ou no Reino Unido, esta seção se aplica a você.
            O Regulamento Geral de Proteção de Dados (GDPR) e o GDPR do Reino Unido exigem que expliquemos as bases
            legais válidas nas quais contamos para processar suas informações pessoais. Como tal, podemos contar com as
            seguintes bases legais para processar suas informações pessoais:
            Consentimento. Podemos processar suas informações se você nos der permissão (ou seja, consentimento) para
            usar suas informações pessoais para uma finalidade específica.
            Interesses legítimos. Podemos processar suas informações quando acreditamos que é razoavelmente necessário
            para alcançar nossos interesses comerciais legítimos e esses interesses não superam seus interesses e
            direitos e liberdades fundamentais. Por exemplo, podemos processar suas informações pessoais para algumas
            das finalidades descritas para:
            Desenvolver e exibir conteúdo publicitário personalizado e relevante para nossos usuários
            Apoie nossas atividades de marketing
            Diagnosticar problemas e/ou prevenir atividades fraudulentas
            Obrigações legais. Podemos processar suas informações onde acreditamos ser necessário para o cumprimento de
            nossas obrigações legais, como cooperar com um órgão de aplicação da lei ou agência reguladora, exercer ou
            defender nossos direitos legais ou divulgar suas informações como prova em litígio no qual estamos
            envolvido. Interesses Vitais. Podemos processar suas informações onde acreditamos ser necessário para
            proteger seus interesses vitais ou os interesses vitais de terceiros, como situações que envolvam ameaças
            potenciais à segurança de qualquer pessoa.
            Se você estiver localizado no Canadá, esta seção se aplica a você.
            Podemos processar suas informações se você nos der permissão específica (ou seja, consentimento expresso)
            para usar suas informações pessoais para uma finalidade específica ou em situações em que sua permissão
            possa ser inferida (ou seja, consentimento implícito).
            Em alguns casos excepcionais, podemos ser legalmente autorizados pela lei aplicável a processar suas
            informações sem o seu consentimento, incluindo, por exemplo:
            Se a coleta for claramente do interesse de um indivíduo e o consentimento não puder ser obtido em tempo
            hábil
            Para investigações e detecção e prevenção de fraudes
            Para transações comerciais, desde que certas condições sejam atendidas
            Se estiver contido em uma declaração de testemunha e a cobrança for necessária para avaliar, processar ou
            resolver uma reivindicação de seguro
            Para identificar pessoas feridas, doentes ou falecidas e comunicar-se com parentes próximos
            Se tivermos motivos razoáveis ​​para acreditar que um indivíduo foi, é ou pode ser vítima de abuso
            financeiro
            Se for razoável esperar que a coleta e o uso com consentimento comprometam a disponibilidade ou a precisão
            das informações e a coleta seja razoável para fins relacionados à investigação de violação de um contrato ou
            violação das leis do Canadá ou de uma província
            Se a divulgação for necessária para cumprir uma intimação, mandado, ordem judicial ou regras do tribunal
            relativas à produção de registros
            Se foi produzido por um indivíduo no curso de seu emprego, negócio ou profissão e a coleta é consistente com
            os propósitos para os quais as informações foram produzidas
            Se a coleção for exclusivamente para fins jornalísticos, artísticos ou literários
            Se as informações estiverem disponíveis publicamente e forem especificadas pelos regulamentos
            <br><br>
            <br>4. QUANDO E COM QUEM COMPARTILHAMOS SUAS INFORMAÇÕES PESSOAIS?
            Resumindo: Podemos compartilhar informações em situações específicas descritas nesta seção e/ou com
            terceiros a seguir.
            Fornecedores, consultores e outros provedores de serviços terceirizados. Podemos compartilhar seus dados com
            fornecedores terceirizados, provedores de serviços, contratados ou agentes ("terceiros") que prestam
            serviços para nós ou em nosso nome e exigem acesso a essas informações para realizar esse trabalho. Temos
            contratos em vigor com nossos terceiros, que são projetados para ajudar a proteger suas informações
            pessoais. Isso significa que eles não podem fazer nada com suas informações pessoais, a menos que os
            instruímos a fazê-lo. Eles também não compartilharão suas informações pessoais com nenhuma organização além
            de nós. Também se comprometem a proteger os dados que detêm em nosso nome e a conservá-los durante o período
            que instruímos. Os terceiros com os quais podemos compartilhar informações pessoais são os seguintes:
            Publicidade, marketing direto e geração de leads
            Fatura e Cobrança
            Listra
            Plataformas de retargeting
            Anúncios do Google
            Remarketing do Google Analytics
            Google Analytics e Google Ads
            Análise da Web e Mobile
            Também podemos precisar compartilhar suas informações pessoais nas seguintes situações:
            Transferências Empresariais. Podemos compartilhar ou transferir suas informações em conexão ou durante
            negociações de qualquer fusão, venda de ativos da empresa, financiamento ou aquisição de todo ou parte de
            nossos negócios para outra empresa.
            <br><br>
            <br>5. SUAS INFORMAÇÕES SÃO TRANSFERIDAS INTERNACIONALMENTE?
            Resumindo: podemos transferir, armazenar e processar suas informações em outros países que não o seu.
            Nossos servidores estão localizados no Canadá. Se você estiver acessando nossos Serviços de fora do Canadá,
            saiba que suas informações podem ser transferidas, armazenadas e processadas por nós em nossas instalações e
            por terceiros com quem podemos compartilhar suas informações pessoais (consulte "QUANDO E COM QUEM
            COMPARTILHAMOS SUAS INFORMAÇÕES PESSOAIS?" acima), na Lituânia e em outros países.
            Se você residir no Espaço Econômico Europeu (EEA) ou no Reino Unido (Reino Unido), esses países podem não
            ter necessariamente leis de proteção de dados ou outras leis semelhantes tão abrangentes quanto as do seu
            país. No entanto, tomaremos todas as medidas necessárias para proteger suas informações pessoais de acordo
            com este aviso de privacidade e a lei aplicável.
            <br><br>
            <br>6. POR QUANTO TEMPO MANTEMOS SUAS INFORMAÇÕES?
            Resumindo: mantemos suas informações pelo tempo necessário para cumprir os propósitos descritos neste aviso
            de privacidade, a menos que exigido por lei.
            Manteremos suas informações pessoais apenas pelo tempo necessário para os fins estabelecidos neste aviso de
            privacidade, a menos que um período de retenção mais longo seja exigido ou permitido por lei (como impostos,
            contabilidade ou outros requisitos legais). Nenhum propósito neste aviso exigirá que mantenhamos suas
            informações pessoais por mais tempo do que o período em que os usuários têm uma conta conosco.
            Quando não tivermos uma necessidade comercial legítima contínua de processar suas informações pessoais,
            excluiremos ou tornaremos essas informações anônimas ou, se isso não for possível (por exemplo, porque suas
            informações pessoais foram armazenadas em arquivos de backup), iremos armazenar suas informações pessoais e
            isolá-las de qualquer processamento posterior até que seja possível excluí-las.
            <br><br>
            <br>7. COMO MANTÉM SUAS INFORMAÇÕES SEGURAS?
            Resumindo: Nosso objetivo é proteger suas informações pessoais por meio de um sistema de medidas de
            segurança organizacionais e técnicas.
            Implementamos medidas de segurança técnicas e organizacionais apropriadas e razoáveis, projetadas para
            proteger a segurança de qualquer informação pessoal que processamos. No entanto, apesar de nossas
            salvaguardas e esforços para proteger suas informações, nenhuma transmissão eletrônica pela Internet ou
            tecnologia de armazenamento de informações pode ser garantida como 100% segura, portanto, não podemos
            prometer ou garantir que hackers, cibercriminosos ou outros terceiros não autorizados não serão capaz de
            burlar nossa segurança e coletar, acessar, roubar ou modificar suas informações indevidamente. Embora
            façamos o possível para proteger suas informações pessoais, a transmissão de informações pessoais de e para
            nossos Serviços é por sua conta e risco. Você só deve acessar os Serviços em um ambiente seguro.
            <br><br>
            <br>8. COLETAMOS INFORMAÇÕES DE MENORES?
            Resumindo: Não coletamos intencionalmente dados de ou comercializamos para crianças menores de 18 anos de
            idade.
            Não solicitamos intencionalmente dados ou comercializamos para crianças menores de 18 anos de idade. Ao usar
            os Serviços, você declara que tem pelo menos 18 anos ou que é o pai ou tutor de tal menor e consente com o
            uso dos Serviços por esse menor dependente. Se soubermos que informações pessoais de usuários com menos de
            18 anos foram coletadas, desativaremos a conta e tomaremos medidas razoáveis ​​para excluir imediatamente
            tais dados de nossos registros. Se você tomar conhecimento de quaisquer dados que possamos ter coletado de
            crianças menores de 18 anos, entre em contato conosco pelo e-mail contact@skript.gg.
            <br><br>
            <br>9. QUAIS SÃO OS SEUS DIREITOS DE PRIVACIDADE?
            Resumindo: em algumas regiões, como o Espaço Econômico Europeu (EEA), Reino Unido (UK) e Canadá, você tem
            direitos que permitem maior acesso e controle sobre suas informações pessoais. Você pode revisar, alterar ou
            encerrar sua conta a qualquer momento.
            Em algumas regiões (como EEE, Reino Unido e Canadá), você tem certos direitos sob as leis de proteção de
            dados aplicáveis. Estes podem incluir o direito de (i) solicitar acesso e obter uma cópia de suas
            informações pessoais, (ii) solicitar retificação ou exclusão; (iii) restringir o processamento de suas
            informações pessoais; e (iv) se aplicável, à portabilidade de dados. Em determinadas circunstâncias, você
            também pode ter o direito de se opor ao processamento de suas informações pessoais. Você pode fazer tal
            solicitação entrando em contato conosco usando os detalhes de contato fornecidos na seção "COMO VOCÊ PODE
            NOS CONTATAR SOBRE ESTE AVISO?" abaixo. Consideraremos e agiremos de acordo com qualquer solicitação de
            acordo com as leis de proteção de dados aplicáveis.
            Se você estiver localizado no EEE ou no Reino Unido e acreditar que estamos processando suas informações
            pessoais ilegalmente, você também tem o direito de reclamar com a autoridade supervisora ​​de proteção de
            dados local. Pode encontrar os seus dados de contacto aqui:
            https://ec.europa.eu/justice/data-protection/bodies/authorities/index_en.htm.
            Se você estiver localizado na Suíça, os detalhes de contato das autoridades de proteção de dados estão
            disponíveis aqui: https://www.edoeb.admin.ch/edoeb/en/home.html.
            Retirada do seu consentimento: Se estivermos contando com o seu consentimento para processar suas
            informações pessoais, que pode ser consentimento expresso e/ou implícito, dependendo da lei aplicável, você
            tem o direito de retirar o seu consentimento a qualquer momento. Você pode retirar seu consentimento a
            qualquer momento, entrando em contato conosco usando os detalhes de contato fornecidos na seção "COMO VOCÊ
            PODE NOS CONTATAR SOBRE ESTE AVISO?" abaixo.
            No entanto, observe que isso não afetará a legalidade do processamento antes de sua retirada, nem quando a
            lei aplicável permitir, afetará o processamento de suas informações pessoais conduzido com base em motivos
            legais de processamento que não sejam consentimento.
            Informação da conta
            Se desejar, a qualquer momento, revisar ou alterar as informações de sua conta, você pode:
            Faça login nas configurações da sua conta e atualize sua conta de usuário.
            Mediante sua solicitação para encerrar sua conta, desativaremos ou excluiremos sua conta e informações de
            nossos bancos de dados ativos. No entanto, podemos reter algumas informações em nossos arquivos para evitar
            fraudes, solucionar problemas, auxiliar em quaisquer investigações, aplicar nossos termos legais e/ou
            cumprir com os requisitos legais aplicáveis.
            Se você tiver dúvidas ou comentários sobre seus direitos de privacidade, envie um e-mail para
            contact@skript.gg.
            <br><br>
            <br>10. CONTROLES PARA RECURSOS NÃO RASTREAR
            A maioria dos navegadores da web e alguns sistemas operacionais móveis e aplicativos móveis incluem um
            recurso ou configuração Do-Not-Track ("DNT") que você pode ativar para sinalizar sua preferência de
            privacidade para não ter dados sobre suas atividades de navegação online monitorados e coletados. Nesta
            fase, nenhum padrão de tecnologia uniforme para reconhecer e implementar sinais DNT foi finalizado. Como
            tal, atualmente não respondemos aos sinais do navegador DNT ou a qualquer outro mecanismo que comunique
            automaticamente sua escolha de não ser rastreado online. Se for adotado um padrão de rastreamento online que
            devemos seguir no futuro, iremos informá-lo sobre essa prática em uma versão revisada deste aviso de
            privacidade.
            <br><br>
            <br>11. OS RESIDENTES DA CALIFÓRNIA TÊM DIREITOS ESPECÍFICOS DE PRIVACIDADE?
            Resumindo: Sim, se você residir na Califórnia, você terá direitos específicos em relação ao acesso às suas
            informações pessoais.
            A Seção 1798.83 do Código Civil da Califórnia, também conhecida como lei "Shine The Light", permite que
            nossos usuários residentes na Califórnia solicitem e obtenham de nós, uma vez por ano e gratuitamente,
            informações sobre categorias de informações pessoais (se houver) que divulgados a terceiros para fins de
            marketing direto e os nomes e endereços de todos os terceiros com os quais compartilhamos informações
            pessoais no ano civil imediatamente anterior. Se você é um residente da Califórnia e gostaria de fazer tal
            solicitação, envie-nos sua solicitação por escrito usando as informações de contato fornecidas abaixo.
            Se você for menor de 18 anos, residir na Califórnia e tiver uma conta registrada nos Serviços, terá o
            direito de solicitar a remoção de dados indesejados que publicar publicamente nos Serviços. Para solicitar a
            remoção desses dados, entre em contato conosco usando as informações de contato fornecidas abaixo e inclua o
            endereço de e-mail associado à sua conta e uma declaração de que você reside na Califórnia. Garantiremos que
            os dados não sejam exibidos publicamente nos Serviços, mas esteja ciente de que os dados podem não ser
            removidos completa ou exaustivamente de todos os nossos sistemas (por exemplo, backups, etc.).
            <br><br>
            <br>12. FAZEMOS ATUALIZAÇÕES NESTE AVISO?
            Resumindo: Sim, atualizaremos este aviso conforme necessário para manter a conformidade com as leis
            relevantes.
            Podemos atualizar este aviso de privacidade de tempos em tempos. A versão atualizada será indicada por uma
            data "Revisada" atualizada e a versão atualizada entrará em vigor assim que estiver acessível. Se fizermos
            alterações materiais a este aviso de privacidade, poderemos notificá-lo publicando de forma destacada um
            aviso de tais alterações ou enviando-lhe diretamente uma notificação. Incentivamos você a revisar este aviso
            de privacidade com frequência para ser informado sobre como estamos protegendo suas informações.
            <br><br>
            <br>13. COMO VOCÊ PODE NOS CONTATAR SOBRE ESTE AVISO?
            Se você tiver dúvidas ou comentários sobre este aviso, envie um e-mail para contact@skript.gg.
            <br><br>
            <br>14. COMO VOCÊ PODE REVISAR, ATUALIZAR OU EXCLUIR OS DADOS QUE COLETAMOS DE VOCÊ?
            Com base nas leis aplicáveis ​​de seu país, você pode ter o direito de solicitar acesso às informações
            pessoais que coletamos de você, alterar essas informações ou excluí-las em algumas circunstâncias. Para
            solicitar a revisão, atualização ou exclusão de suas informações pessoais, visite: www.skript.gg.
        </p>
    </div>

    <footer>
        <div class="footer">
            <ul>
                <li class="textFooter"><a href="./index.html">Rk Seller</a></li>
            </ul>

            <ul>
                <li class="textFooter"><a href="./index.html">Home</a></li>
                <li class="textFooter"><a href="./index.html">Skript.GG</a></li>
                <li class="textFooter"><a href="https://discord.gg/ya6n8vrfcK">Suporte</a></li>
            </ul>

            <ul>
                <li class="textFooter"><a href="./tos">Termos de Serviço</a></li>
                <li class="textFooter"><a href="./index.html">Perguntas Frequentes</a></li>
            </ul>

            <ul>
                <li class="textFooter"><a href="mailto:contato@rkseller.com.br?">contato@rkseller.com.br</a> </li>
                <li class="textFooter"><a href="https://wa.me/5521997624873?text=Adorei%20seu%20artigo"
                        target="_blank">+55 (21) 99762-4873</a></li>
            </ul>


        </div>

        <div class="media">
            <a href=""><img class="iconMedia" src="./assets/svg/socialEmail.svg" alt="" srcset=""></a>
            <a href=""><img class="iconMedia" src="./assets/svg/socialWhatsApp.svg" alt="" srcset=""></a>
            <a href=""><img class="iconMedia" src="./assets/svg/socialYt.svg" alt="" srcset=""></a>
            <a href=""><img class="iconMedia" src="./assets/svg/socialGit.svg" alt="" srcset=""></a>
            <a href=""><img class="iconMedia" src="./assets/svg/socialTikTok.svg" alt="" srcset=""></a>
            <a href=""><img class="iconMedia" src="./assets/svg/socialDiscord.svg" alt="" srcset=""></a>

        </div>

    </footer>
</body>

</html>